Flask==1.1.2
Flask-CacheBuster==1.0.0
Flask-Cors==3.0.10
Flask-Login==0.5.0
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
huggingface-hub==0.0.8
json5==0.9.5
markdown2==2.4.1
MarkupSafe==1.1.1
nltk==3.6.1
tensorflow
tokenizers
torch
torchaudio
torchvision
transformers
